<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de ayuda IUB</title>
    <link rel="stylesheet" href="/static/styles/form_style.css">
</head>
<body>
    <div class="container">
        <div class="container-form">
            <form class="sign-in">
                <h2>Iniciar sesion</h2>
                <label for="">Correo institucional</label>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" placeholder="Escribe aqui">
                </div>
                <label for="">Contraseña</label>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="********">
                </div>
                <a href="">¿Olvidaste tu contraseña?</a>
                <button>Iniciar sesion</button>
            </form>
        </div>
        <!--  REGISTRO  -->
        <div class="container-form">
            <form class="sign-up">
                <h2>Registrarse</h2>
                <label for="">Nombre y apellido</label>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" placeholder="Juan Perez">
                </div>
                <label for="">Correro institucional</label>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" placeholder="example@unibarranquilla.edu.co">
                </div>
                <label for="">Contraseña</label>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="********">
                </div>
                <button>Registrarme</button>
            </form>
        </div>
    </div>

    <!--Script-->
    <script src="/static/js/script.js"></script>
    <!--Script iconos-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>